<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Sample triggerButton directive</title>
    <meta name="description" content="triggerButton directive in action">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="main.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css"/>
    <script rel="stylesheet" src="../bower_components/angular/angular.min.js"></script>
    <script src="../src/triggerButton.js"></script>
    <script  src="index.js"></script>
</head>
<body ng-app="SampleApp">
    <div ng-controller="SampleCtrl">
        <table>
            <thead>
            <tr>
                <td data-ng-repeat="(key,value) in data[0]" data-ng-bind="(key|uppercase)" align="center"></td>
                <td>
                    <trigger-button data-ng-model="protected" class="dangerous-trigger" data-action="somethingDangerous()">
                        <i class="fa fa-trash" aria-hidden="true"></i>
                    </trigger-button>

                </td>
            </tr>
            </thead>
            <tbody data-ng-class="{'shake': !protected}">
            <tr data-ng-repeat="row in data">
                <td data-ng-repeat="(key, value) in row" data-ng-bind="value" data-ng-align="{'center':typeof(value)=='string','left':typeof(value)!='string'}"></td>
                <td align="center"><button class="delete" data-ng-click="deleteRow($index)"><i class="fa fa-trash" aria-hidden="true"></i></button></td>
            </tr>
            </tbody>
        </table>
    </div>
</body>
</html>