table {
    float:left;
}
table+div {
    float:left;
    padding:10px;
}
table thead td+td{
    border-left: 1px solid black;
}
table thead td {
    border-bottom: 1px solid black;
}
table {
    border:1px solid black;
    border-collapse: separate;
    border-spacing: 0;
}
table td {
    margin:0;
    padding:5px;
}