




/*Shaking of the rows */
.shake tr {
    background:orange;
}
.shake>*{
    -webkit-animation-name: shakers;
    -webkit-animation-duration: 0.8s;
    -webkit-transform-origin:20% 20%;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
}
.shake>*:nth-child(7n+5){
    -webkit-animation-delay: 0.3s;
}
.shake>*:nth-child(5n+3){
    -webkit-animation-delay: 0.1s;
}
.shake>*:nth-child(3n+2){
    -webkit-animation-delay: 0.2s;
}


@-webkit-keyframes shakers {
    0% { -webkit-transform: translate(2px, 1px) rotate(0deg); }
    10% { -webkit-transform: translate(-1px, -2px) rotate(-0.1deg); }
    20% { -webkit-transform: translate(-1px, 0px) rotate(0.1deg); }
    30% { -webkit-transform: translate(0px, 2px) rotate(0deg); }
    40% { -webkit-transform: translate(1px, -1px) rotate(0.1deg); }
    50% { -webkit-transform: translate(-1px, 2px) rotate(-0.1deg); }
    60% { -webkit-transform: translate(-1px, 1px) rotate(0deg); }
    70% { -webkit-transform: translate(2px, 1px) rotate(-0.1deg); }
    80% { -webkit-transform: translate(-1px, -1px) rotate(0.1deg); }
    90% { -webkit-transform: translate(2px, 2px) rotate(0deg); }
    100% { -webkit-transform: translate(1px, -2px) rotate(-0.1deg); }
}

table thead td+td{
    border-left: 1px solid black;
}
table thead td {
    border-bottom: 1px solid black;
}
table {
    border:1px solid black;
    border-collapse: separate;
    border-spacing: 0;
}
table td {
    margin:0;
    padding:5px;
}