/*Structural */
.trigger-button button {
    font-size: 15px;
    margin:0;
    padding: 2px 8px;
}
.trigger-button button {
    transition: all 0.5s  ease;
}
.trigger-button .trigger-container {
    display: flex;
    width: 61px;
    overflow: hidden;
}
.trigger-button.unlocked button:first-child {
    margin-left: -31px;
}
/*Skin*/
.trigger-button .cancel {
    color: limegreen;
}
.trigger-button .trigger {
    color: #FF6202;
}
.trigger-button.unlocked .trigger {
    color: red;
}
/*Shaking of the rows */
.unprotected tr {
    background:#FF6202;
}
.shake>*{
    -webkit-animation-name: shakers;
    -webkit-animation-duration: 0.8s;
    -webkit-transform-origin:20% 20%;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
}
.shake>*:nth-child(7n+5){
    -webkit-animation-delay: 0.3s;
}
.shake>*:nth-child(5n+3){
    -webkit-animation-delay: 0.1s;
}
.shake>*:nth-child(3n+2){
    -webkit-animation-delay: 0.2s;
}


@-webkit-keyframes shakers {
    0% { -webkit-transform: translate(2px, 1px) rotate(0deg); }
    10% { -webkit-transform: translate(-1px, -2px) rotate(-0.1deg); }
    20% { -webkit-transform: translate(-1px, 0px) rotate(0.1deg); }
    30% { -webkit-transform: translate(0px, 2px) rotate(0deg); }
    40% { -webkit-transform: translate(1px, -1px) rotate(0.1deg); }
    50% { -webkit-transform: translate(-1px, 2px) rotate(-0.1deg); }
    60% { -webkit-transform: translate(-1px, 1px) rotate(0deg); }
    70% { -webkit-transform: translate(2px, 1px) rotate(-0.1deg); }
    80% { -webkit-transform: translate(-1px, -1px) rotate(0.1deg); }
    90% { -webkit-transform: translate(2px, 2px) rotate(0deg); }
    100% { -webkit-transform: translate(1px, -2px) rotate(-0.1deg); }
}